*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, .time, .left-side, .right-side, .right-top, .right-down {
    display: flex;
    justify-content: center;
    align-items: center;

}
body{
    min-height: 80vh;
     background: #4ca1af;
    background: linear-gradient(to right, #4ca1af, #c4e0e5);
}

.clock, .time, .right-side, .right-top, .right-down{
    position: relative;
}
 
.clock{
    color: #11657a;
    background:#fafdff ;
    width: 450px ;
    padding: 20px 25px;
    /* box-shadow: 0 5px 25px rgba (14, 21, 37, 0.8); */
    /* font-size: 30px; */
    border-radius: 10px;
}
#hours{
    font-weight: 600;
    padding: 0 10px;
    line-height: 125px;
    font-size: 8em;
    
}

.right-side{
    flex-direction:column ;
}

#dots{
    font-size: 4em;
    transform: translateY(5px);
    color: grey;
    align-items: center;
}

#minutes{
    font-size: 5em;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 12px;

}
.right-down{
    margin-left: 10px;
    transform: translateY(-25px);
}
#period, #seconds{
    font-size: 1.8em;
    font-weight: 500;
    margin-left: 10px;
}

#period{
    color: rgb(255, 123, 75);
    text-align: center;
    margin-top: 10px;

}
#seconds{
    color: #000;
    margin-top: 10px;
}